* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, html {
    overflow-x: hidden; /* Only hide horizontal overflow */
    overflow-y: auto;   /* Allow vertical scrolling for page content */
    /* Ensure no element can exceed 100% of the viewport width */
    width: 100vw; 
    height: 100vh;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 60%;
    width: auto;
    margin-left: 10px;
}

/* ... Your other styles ... */

.burger-menu {
    height: 50px;
    padding: 8px;
    width: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    border-radius: 2px;
}

.bar1, .bar2, .bar3 {
    width: 36px; /* Increased to be easily visible and fill the container width */
    height: 5px;
    margin: 2px 0;
    background-color: #606060;
    border-radius: 2.5px;
    transition: 0.6s; /* Keep for the animation */
    transform-origin: left center;
}

.burger-change:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.burger-change {
    background-color: rgba(48, 48, 48, 0.219);
}

.burger-change .bar1 {
    transform: translate(5.5px, 24px) rotate(-45deg);
}

.burger-change .bar2 {
    opacity: 0;
}

.burger-change .bar3 {
    transform: translate(5.5px, -24px) rotate(45deg);
}

nav {
    position: fixed;
    top: 60px;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.6s;
    z-index: 2;
    background-color: rgba(75, 75, 75, 0.815);
}

.desktop-nav {
    display: none;
}

.desktop-nav ul li:hover {
    background-color: #ececec;
}

.desktop-nav ul li:hover a {
    color: #22b7e9;
}

.nav-active {
    top: 60px;
    transform: translateX(0);
    width: 100%;
}

nav ul {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 20px 0;
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #d3d3d3;
}

.active-menu-item {
    border-left: solid 3px #1FA0CB;
    border-right: solid 3px #1FA0CB;
}

.active-menu-item a {
    color: #1FA0CB;
    font-weight: 400;
}

nav ul li a {
    text-decoration: none;
    color: #606060;
    font-size: 20px;
    font-weight: 300;
}

nav ul li a:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

/* Small (landscape phones and large phones) */
@media screen and (min-width: 900px) {

    header {
        height: 80px;
    }

    .header-container {
        width: 100%;
        max-width: 1800px;
    }

    .header-container a {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header-logo {
        height: 60%;
        width: auto;
        margin-left: 50px;
    }

    .burger-menu {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-active {
        top: 60px;
        transform: translateX(0);
        width: 100%;
    }

    .desktop-nav {
        display: block;
        margin-right: 50px;
        height: 100%;
    }

    .desktop-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .desktop-nav ul li {
        list-style: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0;
    }

    .desktop-nav ul li a {
        text-decoration: none;
        color: #606060;
        font-size: clamp(16px, 1.2vw, 20px);
        font-weight: 300;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .desktop-nav .active-menu-item {
        padding-top: 4px;
        border-bottom: solid 4px #8BC6E8;
        border-left: none;
        border-right: none;
    }

    .desktop-nav .active-menu-item a {
        color: #424242;
        font-weight: 400;
    }
}






/* HERO */

.section-hero {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #ECECEC;

}

.hero-container {
    position: relative; 
    z-index: 1; 
    padding-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
    background-image: none; 
}

.hero-container::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1; 
    background-image: url(./images/hero_1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.hero-images {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image {
    width: 44%;
    height: auto;
    border: solid white 1px;
    -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71); 
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71);
}

.hero-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-logo {
    width: 45%;
    height: auto;
}

.hero-button {
    padding: 6px 20px;
    background: #b3b3b3;
    background: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(230, 230, 230, 1) 23%, rgba(237, 237, 237, 1) 87%, rgba(255, 255, 255, 1) 100%);
    font-family: 'ATS', sans-serif;
    color: #244969;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.65);
}

.hero-button:hover {
    box-shadow: inset -1px 1px 5px 1px rgba(0,0,0,0.65);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    color:#1FA0CB;
}

.hero-button:active {
    box-shadow: inset -1px 1px 5px 1px rgba(0,0,0,0.65);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    color:#1d3a53;
}

/* Small (landscape phones and large phones) */
@media screen and (max-width: 767px) {
    
}

@media screen and (min-width: 700px) { 
    .hero-container {
        max-width: 1800px;
        display: grid;
        grid-template-columns: 1fr repeat(2, 4fr) 1fr;
        grid-template-rows: 1fr repeat(2, 4fr) 1fr;
        gap: 10px;
    }

    .hero-images {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


    .hero-images-1 {
        grid-area: 2 / 2 / 3 / 3;
        height: 100%;
    }

    .hero-images-2 {
        grid-area: 3 / 2 / 4 / 3;
        height: 100%;
    }

    .hero-image {
        width: 52%;
        height: auto;
        border: solid white 1px;
        -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71); 
        box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71);
    }

    .hero-items {
        grid-area: 2 / 3 / 4 / 4;
        height: 100%;
        gap: 10px;
        margin-left: 20px;
    }

    .hero-logo {
        width: 100%;
        max-width: 260px;
        height: auto;
        margin-left: -6px;
    }

    .hero-button {
        padding: 6px 20px;
        background: #b3b3b3;
        background: linear-gradient(0deg, rgba(179, 179, 179, 1) 0%, rgba(230, 230, 230, 1) 23%, rgba(237, 237, 237, 1) 87%, rgba(255, 255, 255, 1) 100%);
        font-family: 'ATS', sans-serif;
        color: #244969;
        border: none;
        border-radius: 3px;
        font-size: 20px;
        cursor: pointer;
        box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.65);
    }

    .hero-button:active {
        box-shadow: inset -1px 1px 5px 1px rgba(0,0,0,0.65);
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        color:#1d3a53;
    }
}

/* Large (tablets landscape and small desktops) */
@media screen and (min-width: 900px) {

/* Extra large (desktop) */
/* @media screen and (min-width: 1200px) { */

    .hero-container {
        max-width: 1800px;
        display: grid;
        grid-template-columns: 1fr repeat(2, 4fr) 1fr;
        grid-template-rows: 1fr repeat(2, 4fr) 1fr;
        gap: 20px;
    }

    .hero-images {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .hero-items {
        gap: 20px;
    }

    .hero-logo {
        width: 80%;
        max-width: 340px;
        height: auto;
        margin-left: -6px;
    }

    .hero-button {
        padding: 10px 30px;
        font-size: clamp(18px, 1.8vw, 26px);
        cursor: pointer;
        box-shadow: -1px 1px 5px 1px rgba(0,0,0,0.65);
    }
}







/* SERVICES SECTION */

.section-services {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
}

.section-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.services-heading {
    font-family: 'ATS', sans-serif;
    letter-spacing: 1px;
    color: #244969;
}
.service-card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
    padding-left: 10px;
}

.service-card {
    position: relative;
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s;
}

.service-card:hover  .card-top {
    background-color: #1FA0CB;
}

.heading-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-heading {
    font-family: 'ATS', sans-serif;
    font-size: clamp(12px, 3.4vw, 40px);
    color: white;
    letter-spacing: 1.2px;
    text-align: center;
    z-index: 1;
}

.card-bottom {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 94%;
    transform: rotate(-6deg);
    background-color: #DBDBDB;
    z-index: -1;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.card-top{
    height: 90%;
    width: 94%;
    background-color: #244969;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.card-top:active {
    background-color: #1FA0CB;
}

.service-image {
    width: 80%;
    border: solid white 1px;
}

@media screen and (min-width: 500px) {
    .heading-container {
        height: 65px;
    } 
}

@media screen and (min-width: 600px) {
    .service-card-container {
        width: 90%;
    }

    .service-card {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 700px) {
    .service-card-container {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {

    .section-container {
        max-width: 1800px;
        margin-top: 20px;
    }

    .services-heading {
        font-size: 34px;
        margin-bottom: 60px;
    }

    .service-card {
        position: relative;
        width: 28%;
    }

    .heading-container {
        height: clamp(30px, 5vw, 80px);
    }

    .service-heading {
        font-size: clamp(16px, 1.7vw, 28px);
    }

    .card-top {
        padding-bottom: 30px;
    }

    .card-top:active {
        background-color: #1FA0CB;
    }
}

@media screen and (min-width: 1000px) {

    .service-card-container {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {

    .service-card-container {
        width: 80%;
    }
}

@media screen and (min-width: 1400px) {

    .service-card-container {
        max-width: 70%;
    }
}

/* ABOUT SECTION */

.section-about {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    position: relative;
    width: 90%;
    max-width: 1400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 10px;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.5);
}

.about-heading {
    font-family: 'ATS', sans-serif;
    color: #244969;
    margin-bottom: 20px;
    text-align: center;
}

.about-text {
    font-size: 14px;
    color: #606060;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
}

.about-image {
    position: absolute;
    height: 40px;
}

.drillbit {
    left: -10px;
    bottom: -14px;
}

.drone {
    right: -14px;
    top: -10px;
}

@media screen and (min-width: 800px) {
    .section-about {
        padding: 60px 0;
    }

    .about-heading {
        font-family: 'ATS', sans-serif;
        font-size: 34px;
        color: #244969;
        margin-bottom: 40px;
        text-align: center;
    }

    .about-text {
        font-size: 18px;
    }
    
    .about-image {
        height: 50px;
    }
}




/* FOOTER */

footer {
    position: relative;
    top: 60px;
    width: 100%;
    background-color: #244969;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.reference-container li {
    list-style: none;
    color: white;
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
    border-bottom: solid 1px white;
}

.reference-container li a {
    cursor: pointer;
    color: #1FA0CB;
}

.contact-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    color: white;
    margin-bottom: 30px;
}

.contact-container p {
    font-weight: 200;
}

.contact-container a {
    text-decoration: none;
    color: #1FA0CB;
}

.iframe-container {
    height: auto;
    width: 80%;
    padding-bottom: 30px;
}

iframe {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border: none;
    padding: 0;
}

@media screen and (min-width: 800px) {
    footer {
        position: relative;
        top: 60px;
        width: 100%;
        background-color: #244969;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .reference-container {
        width:  fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .reference-container li {
        list-style: none;
        color: white;
        margin: 5px 0;
        padding: 5px;
        font-size: 18px;
        border-bottom: solid 1px white;
    }

    .reference-container li a {
        cursor: pointer;
        color: #1FA0CB;
    }

    .contact-container {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
        color: white;
        margin-bottom: 30px;
    }

    .contact-container p {
        font-size: 18px;
        font-weight: 200;
    }

    .contact-container a {
        text-decoration: none;
        color: #1FA0CB;
        font-size: 18px;
    }

    .iframe-container {
        height: auto;
        width: 30%;
    }

    iframe {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        border: none;
        padding: 0;
    }
}