* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, html {
    overflow-x: hidden; /* Only hide horizontal overflow */
    overflow-y: auto;   /* Allow vertical scrolling for page content */
    /* Ensure no element can exceed 100% of the viewport width */
    width: 100vw; 
    height: 100vh;
}

body {
    background-color: #ECECEC;
}

.section-services {
    background-color: #ffffff;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 60%;
    width: auto;
    margin-left: 10px;
}

/* ... Your other styles ... */

.burger-menu {
    height: 50px;
    padding: 8px;
    width: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    border-radius: 2px;
}

.bar1, .bar2, .bar3 {
    width: 36px; /* Increased to be easily visible and fill the container width */
    height: 5px;
    margin: 2px 0;
    background-color: #606060;
    border-radius: 2.5px;
    transition: 0.6s; /* Keep for the animation */
    transform-origin: left center;
}

.burger-change:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.burger-change {
    background-color: rgba(48, 48, 48, 0.219);
}

.burger-change .bar1 {
    transform: translate(5.5px, 24px) rotate(-45deg);
}

.burger-change .bar2 {
    opacity: 0;
}

.burger-change .bar3 {
    transform: translate(5.5px, -24px) rotate(45deg);
}

nav {
    position: fixed;
    top: 60px;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.6s;
    z-index: 2;
    background-color: rgba(75, 75, 75, 0.815);
}

.desktop-nav {
    display: none;
}

.desktop-nav ul li:hover {
    background-color: #ececec;
}

.desktop-nav ul li:hover a {
    color: #22b7e9;
}

.nav-active {
    top: 60px;
    transform: translateX(0);
    width: 100%;
}

nav ul {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 20px 0;
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #d3d3d3;
}

.active-menu-item {
    border-left: solid 3px #1FA0CB;
    border-right: solid 3px #1FA0CB;
}

.active-menu-item a {
    color: #1FA0CB;
    font-weight: 400;
}

nav ul li a {
    text-decoration: none;
    color: #606060;
    font-size: 20px;
    font-weight: 300;
}

nav ul li a:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

/* Small (landscape phones and large phones) */
@media screen and (min-width: 900px) {

    header {
        height: 80px;
    }

    .header-container {
        width: 100%;
        max-width: 1800px;
    }

    .header-container a {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header-logo {
        height: 60%;
        width: auto;
        margin-left: 50px;
    }

    .burger-menu {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-active {
        top: 60px;
        transform: translateX(0);
        width: 100%;
    }

    .desktop-nav {
        display: block;
        margin-right: 50px;
        height: 100%;
    }

    .desktop-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .desktop-nav ul li {
        list-style: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0;
    }

    .desktop-nav ul li a {
        text-decoration: none;
        color: #606060;
        font-size: clamp(16px, 1.2vw, 20px);
        font-weight: 300;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .desktop-nav .active-menu-item {
        padding-top: 4px;
        border-bottom: solid 4px #8BC6E8;
        border-left: none;
        border-right: none;
    }

    .desktop-nav .active-menu-item a {
        color: #424242;
        font-weight: 400;
    }
}




/* HERO SECTION */
.section-hero {
    position: relative;
    top: 60px;
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-container {
    width: 100%;
    aspect-ratio: 2 / 1;
}

.hero-container::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1; 
    background-image: url('./images/hero_2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.8; */
}

.hero-container img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}

@media screen and (min-width: 600px) {
    .hero-container img {
        width: clamp(200px, 20%, 400px);
    }
}

@media screen and (min-width: 900px) {
    .section-hero {
        /* background-color: #ECECEC; */
    }
    .hero-container {
        max-width: 1800px;
    }
}



/* SERVICES SECTION */

.section-services {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-heading {
    font-family: 'ATS', sans-serif;
    letter-spacing: 1px;
    color: #244969;
    text-align: center;
    margin: 30px 0;
}

.service-segment {
    display: block; 
    width: 100%;
    padding: 20px;
    background-color: white;
}

.service-image-float {
    float: left; 
    max-width: 45%; 
    height: auto;
    margin-bottom: 8px;
    margin-right: 14px;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71);
}

.service-title {
    text-align: left;
    font-family: 'ATS', sans-serif;
    color: #244969;
    font-size: 22px;
    margin-bottom: 14px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    scroll-margin-top: 80px;
}

.service-text-wrap li {
    margin-left: 20px;
    margin-bottom: 8px;
}

.service-segment-flip {
    display: block; 
    width: 100%;
    padding: 20px;
    background-color: #ECECEC;
}

.service-image-float-flip {
    float: right;
    max-width: 45%; 
    height: auto;
    margin-left: 14px;
    margin-bottom: 8px;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71);
}

.example-panorama-container {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 8px;
    box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-bottom: 20px;
}

.example-panorama-container p, .example-chimney-container p, .example-prototyping-container p {
    margin: 6px 0;
    font-family: 'ATS', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    color: #244969;
}
 
/* Base Styles for all segments */
.panorama-segment-a, .panorama-segment-b {
    width: 100%; 
    aspect-ratio: 500/121.5; 
    
    /* Image path is correct: */
    background-image: url('./images/example_panorama.jpg');
    background-repeat: no-repeat;
    
    /* Background image is 3x wider than the segment */
    background-size: 300% 101%;
    background-position-y: 0;
    
    margin: 5px 0; 
    /* border: solid 1px rgb(167, 167, 167);  */
    border-radius: 4px;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71);
}

.panorama-segment-a {
    background-image: url('./images/example_panorama_a.jpg');
}

.panorama-segment-b {
    background-image: url('./images/example_panorama_b.jpg');
}

.panorama-segment-2, .panorama-segment-4 {
    background-position-x: 100%;
}

.panorama-segment-2 {
    margin-bottom: 20px;
}

.example-chimney-container, .example-prototyping-container {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    background-color: #ECECEC;
    border-radius: 4px;
    padding: 8px 0;
    box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.479);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.example-prototyping-container {
    background-color: rgb(255, 255, 255);
}
.example-chimney-container p, .example-prototyping-container p {
    width: 100%;
    text-align: center;
}

.chimney-segment, .prototyping-segment {
     width: 30%; 
     height: auto;
     margin: 5px 0;
     border-radius: 4px;
     box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.71);
}

/* FOOTER */

footer {
    position: relative;
    top: 60px;
    width: 100%;
    background-color: #244969;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.reference-container li {
    list-style: none;
    color: white;
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
    border-bottom: solid 1px white;
}

.reference-container li a {
    cursor: pointer;
    color: #1FA0CB;
}

.contact-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    color: white;
    margin-bottom: 30px;
}

.contact-container p {
    font-weight: 200;
}

.contact-container a {
    text-decoration: none;
    color: #1FA0CB;
}

.iframe-container {
    height: auto;
    width: 80%;
    padding-bottom: 30px;
}

iframe {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border: none;
    padding: 0;
}